.card
  @apply border bg-white rounded-lg overflow-hidden
  border-color: var(--app-border-color)
  min-height: 272px
.card-responsive
  .card-description
    @apply text-clip whitespace-normal overflow-visible
.card-image
  @apply relative overflow-hidden rounded-t-lg
  background-color: var(--app-backdrop-color)
  > img
    @apply object-cover w-full h-full
  > div
    @apply absolute bottom-2 left-4
.card-tag
  @apply py-0.5 px-1.5 text-white rounded text-sm font-bold
  letter-spacing: -0.2px
  background-color: var(--app-primary-color)
.card-body
  @apply p-4 overflow-hidden
.card-title
  @apply text-base font-bold
  letter-spacing: -0.2px
.card-description
  @apply text-sm font-normal leading-6 truncate
  color: var(--app-secondary-text)
